/* CSS RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*utils*/
:root{
    --bg-hero-color:#b4d0e6;
    --bg-button-color: #0061fe;
    --bg-footer-color: #000000;
}

.d-flex{
    display: flex;
}

.container{
    width: 100%;
    max-width: 1900px;
    margin:auto; 
    border: 1px dashed black;
}

.row{
    flex-wrap: wrap;
    margin: 0 -1rem;
}
.col{
    width: auto;
    flex-basis: auto;
    padding: 1rem;
}

/*#region NAVBAR*/

.navbar{
    background-color: white;
    justify-content: space-between;
    position: sticky;   
    margin:1rem 0;
    align-items: center;
    .logo{
        margin-bottom: 10px;
    }
}
.navbar a{
    text-decoration: none;
    color: black;    
}

/*#region MENU */

[class^=menu]{
    list-style-type: none;
    gap: 2rem;
}
.menu-left> li{
    margin-top:10px;
}
.menu-right> li>button{
    background-color: var(--bg-button-color);
    border:1px solid var(--bg-button-color);
    padding: 3px 10px;
}
.menu-right{
    align-items: center;
}
.start-btn a{
    color: white;
}

/*#endregion MENU */

/*#endregion NAVBAR*/


/*SECTION */
.hero> section{
    background-color: var(--bg-hero-color);
    min-height: 500px;
}
section > h1 {
    font-size: xx-large;
}
.hero-image {
    max-width: 100%;
}
.free-trial{
    background-color: var(--bg-button-color);
    border:1px solid var(--bg-button-color);
    padding: 3px 10px;
}
.free-trial a{
    text-decoration: none;
    color: white;
}
